:root {
  --primary-color: #fff;
  --background-color: #000000;
  --gray-light: #cdcdcd;
  --pale-white: #f0f0f0;
  --gray-dark: #474747;
  --bs-gradient: linear-gradient(to top, #191919 0%, black 100%);
  --accent-color: #8ef6e4;
  --accent-color-pink: #d620e3;
  --secondary-color: #9896f1;
  --pink-darker-color: #d59bf6;
  --pink-lighter-color: #edb1f1;
  --border: 2px solid white;
  --h1-size: 90px;
  --h2-size: 70px;
  --h3-size: 55px;
  --h4-size: 50px;
  --h5-size: 40px;
  --p-size: 40px;
  --link-size: 20px;
  --p-size-2: 20px;
  --satoshi: "Satoshi", sans-serif;
}

body {
  font-family: var(--satoshi);
  width: 100%;
  height: 100%;
}
.portfolio-container {
  margin: 0px 120px 60px 120px;
}
.img-logo {
  width: 150px;
}
header {
  text-align: center;
}
.greeting {
  font-size: var(--h2-size);
  color: var(--secondary-color);
  margin-top: 10px;
  margin-bottom: 0px;
}
.valentina-rapunzel {
  font-size: var(--h1-size);
  margin: 20px auto;
}

.graphic-designer {
  font-size: var(--h3-size);
  color: var(--pink-darker-color);
  margin: 20px auto;
}
.buttons {
  display: flex;
  justify-content: center;
}
.button {
  margin: 10px 20px;
  color: #000000;
  font-weight: 700;
  background-color: var(--pale-white);
  border-radius: 20px;
}
.button:hover {
  background-color: var(--accent-color-pink);
  font-weight: 900;
}
.about-me-button {
  padding: 30px 50px;
}
.my-projects-button {
  padding: 30px 50px;
}
.contact-me-button {
  padding: 30px 40px;
}
.about-me-link,
.my-projects-link,
.contact-me-link {
  font-family: "Satoshi", sans-serif;
  text-decoration: none;
  font-size: var(--link-size);
  font-weight: 500;
}

footer {
  margin: 40px auto;
  text-align: center;
}
p {
  font-size: var(--p-size-2);
  color: var(--gray-light);
}
.footer-links {
  color: var(--secondary-color);
  font-size: var(--link-size);
}

/* ABOUT ME  */
/* ABOUT ME  */
/* ABOUT ME  */
/* ABOUT ME  */
/* ABOUT ME  */
/* ABOUT ME  */
/* ABOUT ME  */
/* ABOUT ME  */
/* ABOUT ME  */
/* ABOUT ME  */
.about-me-container {
  margin-top: 60px;
}

.go-to-homepage-section {
  text-align: center;
}
.go-to-homepage-link {
  font-size: var(--link-size);
  color: var(--gray-light);
  font-weight: 400;
}
.go-to-homepage-link:hover {
  text-decoration: underline;
  color: var(--pale-white);
}
.about-me-title {
  text-decoration: underline;
  color: var(--pink-lighter-color);
  font-size: var(--h1-size);
  font-weight: 600;
  margin: 50px auto;
}
.from-ukraine {
  color: var(--secondary-color);
  margin-top: 50px;
  font-weight: 600;
  font-size: var(--h3-size);
}
.about-me-container {
  margin: 40px 60px;
}
.avatar {
  max-width: fit-content;
  margin-top: 60px;
}
.certificates {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.certificate {
  margin-top: 30px;
}

.text {
  color: var(--pale-white);
  font-size: var(--p-size);
  padding-left: 20px;
  padding-top: 40px;
}
.my-projects-title {
  text-decoration: underline;
  color: var(--pink-lighter-color);
  font-size: var(--h1-size);
  font-weight: 600;
  margin-bottom: 0px;
  margin: 50px auto;
}
.yogurt-app-img,
.weather-app-1-img,
.weather-app-2-img,
.weather-app-3-img {
  display: block;
  margin: 0 auto;
  margin-top: 100px;
}
.yogurt-app-img {
  padding: 20px;
  display: block;
  margin: 0 auto;
}
.yogurt-title,
.weather-app-1-title,
.weather-app-2-title,
.weather-app-3-title {
  color: var(--accent-color-pink);
  font-size: var(--h3-size);
}
.yogurt-text,
.weather-app-1-text,
.weather-app-2-text,
.weather-app-3-text {
  padding: 80px 30px;
  margin-bottom: 0px;
  font-size: var(--h4-size);
}
.yogurt-text {
  margin-top: 60px;
  margin-bottom: 0px;
}
.launch-link {
  text-decoration: none;
}
.launch-yogurt,
.launch-weather-app-1,
.launch-weather-app-2,
.launch-weather-app-3 {
  margin: 0px auto;
  padding: 30px 50px;
  color: #000000;
  font-size: var(--h5-size);
  font-weight: 500;
  background-color: var(--pale-white);
  border-radius: 20px;
  display: block;
}
.launch-yogurt:hover,
.launch-weather-app-1:hover,
.launch-weather-app-2:hover,
.launch-weather-app-3:hover {
  background-color: var(--accent-color-pink);
}

.contact-me-section {
  text-align: center;
}
.contact-me-title {
  text-decoration: underline;
  color: var(--pink-lighter-color);
  font-size: var(--h1-size);
  font-weight: 600;
  margin-top: 150px;
  margin-bottom: 50px;
}
.link-section {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.instagram,
.github,
.behance,
.facebook,
.linkedin,
.youtube {
  color: var(--accent-color);
  font-size: var(--h4-size);
  text-decoration: none;
}
.email,
.phone {
  color: var(--accent-color);
  font-size: var(--h3-size);
  text-decoration: none;
}

.email:hover,
.phone:hover {
  color: var(--primary-color);
}
.icon {
  margin-top: 15px;
}
.email-row,
.phone-row,
.link-row {
  margin: 50px auto;
}
.phone-icon,
.email-icon {
  padding-bottom: 20px;
  opacity: 0.5;
}
.rights{
  margin-top: 50px;
}